@import url(https://fonts.googleapis.com/css?family=Major+Mono+Display);

.navbar {
  background-color: black;
  opacity: 0.7;
}

.navbar a {
  color: white;
}

.navbar .logo {
  font-size: 40px;
  font-family: "Major Mono Display", monospace;
}
